@import "tailwindcss";
@import "./base.css";
@import "./transition.css";
@import "./utilities.css";

@theme {
  /* Font */
  --font-*: initial;
  --font-sans: "Inter", sans-serif;
  --font-mono:
    "ui-monospace", "SFMono-Regular", "Menlo", "Monaco", "Consolas",
    "Liberation Mono", "Courier New", "monospace";

  /* Base Colors */
  --color-*: initial;
  --color-white: #fff;
  --color-black: #000;

  /* Gray Colors */
  --color-gray-50: #f2f2f2;
  --color-gray-100: #ededed;
  --color-gray-200: #e0e0e0;
  --color-gray-300: #d4d4d4;
  --color-gray-400: #c4c4c4;
  --color-gray-500: #b3b3b3;
  --color-gray-600: #a1a1a1;
  --color-gray-700: #8a8a8a;
  --color-gray-800: #6b6b6b;
  --color-gray-900: #404040;
  --color-gray-950: #000;

  /* Brand Colors */
  --color-brand-50: oklch(97.1% 0.013 17.38deg);
  --color-brand-100: oklch(93.6% 0.032 17.717deg);
  --color-brand-200: oklch(88.5% 0.062 18.334deg);
  --color-brand-300: oklch(80.8% 0.114 19.571deg);
  --color-brand-400: oklch(70.4% 0.191 22.216deg);
  --color-brand-500: oklch(60.6% 0.25 22.75deg);
  --color-brand-600: oklch(53.1% 0.231 23.953deg);
  --color-brand-700: oklch(44.6% 0.2 24.363deg);
  --color-brand-800: oklch(37.3% 0.16 26.657deg);
  --color-brand-900: oklch(32.3% 0.129 27.279deg);
  --color-brand-950: oklch(20.7% 0.076 25.861deg);

  /* Brand Gradients */
  --background-image-hero-grad: linear-gradient(
    to top,
    var(--color-gray-950) 60%,
    var(--color-gray-800) 100%
  );
  --background-image-accent-grad: linear-gradient(
    to bottom right,
    var(--color-brand-400),
    var(--color-brand-600),
    var(--color-brand-800)
  );

  /* Shared Hero Spacing */
  --spacing-hero-max: 117rem; /* 467.5 equivalent */
}

@font-face {
  font-family: "Switzer";
  src: url("/fonts/switzer/Switzer-Variable.woff2") format("woff2");
}

@font-face {
  font-family: "Haas";
  src: url("/fonts/haas/Haas.otf");
}

@font-face {
  font-family: "Haas55";
  src: url("/fonts/haas/Haas55Roman.otf");
}

@font-face {
  font-family: "Haas75";
  src: url("/fonts/haas/Haas75Bold.otf");
}

@font-face {
  font-family: "FontSpring";
  src: url("/fonts/fontspring/FontSpring.otf");
}

@font-face {
  font-family: "Twentieth";
  src: url("/fonts/twentieth/Twentieth.ttf");
}

@font-face {
  font-family: "Century";
  src: url("/fonts/century/Century.otf");
}

@font-face {
  font-family: "InterVar";
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
  font-weight: 900;
}
